.app {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.main{
  display: flex;

  flex-direction: column;
  width: 100%;

}

.row{
  display: flex;
  justify-content: center;
}

.week{
  border: 1px solid black;
  margin-right: 8px;
  margin-bottom: 8px;
  height: 7px;
  width: 7px;
  cursor: pointer;
  position: relative;
}

.week__number{
  position: absolute;
  top: -30px;
  left: 0;
}

.week_active{
  background-color: blueviolet;
}

input{
  padding: 10px 20px;
  width: 100px;
  margin-top: 10px;
  border-radius: 7px;

}

.header{
  display: flex;
  flex-direction: column;
  max-width: 875px;
  width: 100%;
}

.header__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 50px;
}

.header__item:last-child{
  margin-bottom: 50px;
}

span{

  margin-right: 10px;
}

.year__number{
  transform: rotate(-90deg);
  margin-right: 20px;
  margin-bottom: 8px;
  height: 7px;
  width: 7px;
}